@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 16px;
        text-align: center;
        font-family: var(--font-ubuntu);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        @apply text-text;
        @apply bg-background
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-rubik);
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 19px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 13px;
    }
    caption {
        font-size: 12px;
    }
    button {
        text-transform: uppercase;
        padding: 4px;
        border-radius: 4px;
        box-shadow: inset 0px -4px 0px rgba(0,0,10,0.1);
        transition: all 150ms;
        @apply text-text;
        text-decoration: none;
    }
    button:hover {
        box-shadow: inset 0px 4px 0px rgba(0,0,10,0.1);
        filter: saturate(10%);
        margin: 1px;
        transition: all 150ms;
    }
    a {
        @apply text-main;
        text-decoration: underline;
    }
}

@layer components {
    .btn-primary {
        @apply bg-primary;
    }
}

